#toDoListMain {
    display: block;
    width: 1500px;
    height: 1500px;
    background-color: gray;
    margin-left: 45px;


}

#titleSection {
    width: 1200px;
    height: 150px;
    background-color: purple;
    float: right;
    border-style: solid;

}

#actualToDoList {
    width: 1200px;
    height: 450px;
    background-color: blue;
    float: right;
    border-style:solid;
}

#description {
    width: 1200px;
    height: 450px;
    background-color: red;
    float: right;
    border-style:solid;
}

#checkList {
    width: 1200px;
    height: 450px;
    background-color: green;
    float: right;
    border-style:solid;
}

#asideSection {
    width: 350px;
    height: 1515px;
    background-color: yellow;
    border-style:solid;
}